<system.identityModel>
  <identityConfiguration>
    <audienceUris>
      <add value="urn:s-innovations:authz" />
    </audienceUris>
    <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <trustedIssuers>
        <add thumbprint="09EE7268BE2509E3262DCAE9DF10563DCE265BD3" name="https://s-innovations.accesscontrol.windows.net/v2/wsfederation" />
      </trustedIssuers>
    </issuerNameRegistry>

    <securityTokenHandlers>
      <add type="System.IdentityModel.Tokens.JwtSecurityTokenHandler, System.IdentityModel.Tokens.Jwt" />
      <securityTokenHandlerConfiguration>
        <certificateValidation certificateValidationMode="PeerTrust" />
      </securityTokenHandlerConfiguration>

      <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </securityTokenHandlers>



    
  </identityConfiguration>
</system.identityModel>