<system.identityModel.services>
  <federationConfiguration>
    <cookieHandler requireSsl="false" />
    <wsFederation passiveRedirectEnabled="true" issuer="https://s-innovations.accesscontrol.windows.net/v2/wsfederation" realm="urn:s-innovations:authz" requireHttps="false" />
  </federationConfiguration>
</system.identityModel.services>